[submodule "third_party/accelio"]
	path = third_party/accelio
	url = https://github.com/accelio/accelio.git
	branch = v1.3
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
	branch = curl-7_5_4_0
[submodule "buildscripts/scons-3_0_0"]
	path = buildscripts/scons-3_0_0
	url = https://github.com/SConsProject/scons.git
	branch = rel_3.0.0
